[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
parameterized = "*"

[packages]
flask = "*"

[requires]
python_version = "3.7"

[scripts]
test_small = "nosetests -v --nologcapture --attr size=small src/tests"
